.sidebar {
  bottom: 0;
  left: 0;
  width: 250px;
  position: fixed;
  // overflow: auto;
  top: 60px;
  z-index: 900;
  transform: translate3d(-70%, 0, 0);
  transition: all 0.5s ease 0s;
  visibility: visible;
  background: #e0e2e6;
}

.sidebar__close {
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
  font-size: 25px;
  color: rgb(0, 119, 255);
}

.sidebar__menu {
  margin-top: 4em;
  width: 100%;
  font-size: 1.15em;
}

.list-unstyled {
  width: 100%;
  display: block;
}

.sidebar a {
  color: #42526e;
  text-decoration: none;
  width: 100%;
  padding-left: 2em;
  transition: 0.5s;

  svg {
    font-size: 1.2em;
  }
}

.sidebar a:hover {
  color: #fff;
  background: #244973;
}

.sidebar-visible.sidebar {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}


//SIDEBAR ENCOGIDO
.sidebarol {
  display: block;
  margin-top: 4.5em;
  margin-left: 10.6em;

  a {
    width: 100%;

    svg {
      font-size: 1.5em;
    }

    :hover {
      background-color: #244973;
    }
  }
}
